#header{
    width: 100%;
    height: 72px;
    display: flex;
    justify-content: center;
    background-color: var(--header);
    position: fixed;
    top: 0;
    left: 0;
}

.header_in{
    width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* 로고 */
.logo a{
    font-family: 'hereFont';
    font-weight: 100;
    color: white;
    font-size: 25px;
}

.in_menu{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 45%;
    align-items: center;
}
.in_menu > li{
    padding: 15px 5px;
    opacity: 0.8;
}
.in_menu li:hover{
	opacity: 1;
}
.in_menu ul:last-child{
	opacity: 1;
}

/* fontawesome image */
.in_menu li a i{
    font-size: 17px;
}

/* a tag */
.in_menu li a{
    color: white;
    text-align: center;
    font-size: 17px;
}

/* 로그인 되었을 때 이미지 */
.sub-user-info{
    display: block;
}
.sub-user-info a{
    display: flex;
    align-items: center;
}
.sub-user-info img{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
.sub-user-info img::after{
    content: "▼";
    font-size: 10px;
}

/* 더보기 */
.more-menu{
    display: none;
    background-color: white;
    position: absolute;
    margin-top: 10px;
    padding: 2.5em;
    border-radius: 5px;
    right: 30%;
    box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 20%)
}
.more-menu ul{
    line-height: 1.2;
}
.more-menu > ul > li{
	padding: 5px 0;
    text-align: start;
}
.more-menu li a{
    color: black;
    font-size: 16px;
}

/* 로그인 되었을 때 */
.user-menu{
    display: none;
    background-color: white;
    position: absolute;
    margin-top: 10px;
    padding: 2.5em;
    width: 213px;
    border-radius: 5px;
    right: 22%;
    box-sizing: border-box;
    box-shadow: 0px 3px 5px 0px rgb(0 0 0 / 20%)
}
.user-menu ul{
    width: 100%;
    line-height: 1.2;
}
.user-menu > ul > li{
	padding: 5px 0;
    text-align: start;
}
.user-menu b{
    display: block;
    font-size: 16px;
    padding-bottom: 1.4em;
    margin-bottom: 0.6em;
    border-bottom: 1px solid #adadad;
}
.user-menu li a{
    color: black;
    font-size: 16px;
}

/* 로그아웃창 */
.logout-modal, 
.delete-modal{
    display: none;
    width: 100%;
    height: auto;
    height: 100%;
    top: 0;
    left: 0;
    position: fixed;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.78);
    z-index: 9999;
}

.logout-window, 
.delete-window{
    display: block;
    background-color: white;
    top: 40%;
    left: 40%;
    border-radius: 5px;
}
.logout-btns, 
.delete-btns{
    text-align: end;
    padding-right: 1.4em;
}
.ok-logout, 
.ok-delete{
    font-weight: bold;
    color: #028676;
}
.cancel-logout, 
.cancel-delete{
    font-weight: bold;
    color: #707070;
    margin-right: 1em;
}
.logout-window button, 
.delete-window button{
    font-size: 15px;
    background: none;
    border: none;
    padding: 1em 0.2em;
}
.logout-text, 
.delete-text{
    padding: 2em 8em 2em 3em;
    border-bottom: 1px solid #adadad;
    font-size: 16px;
}