<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodHere.domain.place.PlaceRepository">

	<sql id="auto_increment">
		select
			ifnull(max(place_id), 0) + 1
		from
			place_mst;
	</sql>

	<insert id="motelInsert" parameterType="com.goodHere.domain.place.Place">
		<selectKey keyProperty="place_id" resultType="Integer" order="BEFORE">
			<include refid="auto_increment"></include>
		</selectKey>
	
		insert into
			place_mst
		values(
			#{place_id},
			#{place_name},
			#{place_address},
			#{benefit_detail},
			#{event_msg},
			now(),
			now()
		);
		
		insert into
			place_img_mst
		values
		<foreach collection="place_img" item="img" separator=",">
		(
			0,
			#{place_id},
			#{img}
		)
		</foreach>
		;
	
		insert into
			place_dtl
		values
		<foreach collection="place_dtl" item="dtl" separator=",">
		(
			0,
			#{place_id},
			#{dtl.room_condition_img},
			#{dtl.room_title},
			#{dtl.time_room},
			#{dtl.time_price},
			#{dtl.dead_line},
			#{dtl.availability_time},
			#{dtl.select_time_flag},
			#{dtl.day_room},
			#{dtl.day_price},
			#{dtl.check_in_time},
			#{dtl.check_out_time},
			#{dtl.select_day_flag},
			now(),
			now()
		)
		</foreach>
		;
	</insert>
	
	<select id="getPlaceList" resultType="com.goodHere.domain.place.PlaceList">
		select
			pm.place_id,
			pm.place_name,
			pm.place_address,
			pm.benefit_detail,
			pm.event_msg,
			(select
				place_img
			from
				place_img_mst
			where
				place_id = pm.place_id
			ORDER by
				place_seq
			LIMIT 1) AS place_img,
			pd.time_room,
			pd.time_price,
			pd.availability_time,
			pd2.day_room,
			pd2.day_price,
			pd2.check_in_time
		from
			place_mst pm
			left outer join place_dtl pd on(pd.place_id = pm.place_id AND pd.time_price = (SELECT MIN(time_price) FROM place_dtl WHERE place_id = pm.place_id))
			left outer join place_dtl pd2 on(pd2.place_id = pm.place_id AND pd2.day_price = (SELECT MIN(day_price) FROM place_dtl WHERE place_id = pm.place_id))
		GROUP BY 
			pm.place_id,
			pm.place_name,
			pm.place_address,
			pm.benefit_detail,
			pm.event_msg,
			place_img,
			pd.time_room,
			pd.time_price,
			pd.availability_time,
			pd2.day_room,
			pd2.day_price,
			pd2.check_in_time;
	</select>
	
	<select id="getPlaceDtl" resultType="com.goodHere.domain.place.PlaceEachDetail">
		select distinct
			pm.place_id,
			pd.place_seq,
			pm.place_name,
			pm.place_address,
			pm.benefit_detail,
			pm.event_msg,
			pim.place_img,
			pd.room_condition_img,
			pd.room_title,
			pd.time_room,
			pd.time_price,
			pd.dead_line,
			pd.availability_time,
			pd.select_time_flag,
			pd.day_room,
			pd.day_price,
			pd.check_in_time,
			pd.check_out_time,
			pd.select_day_flag
		from
			place_mst pm
			left outer join place_img_mst pim on(pim.place_id = pm.place_id)
			left outer join place_dtl pd on(pd.place_id = pm.place_id)
		where
			pm.place_id = #{place_id};
	</select>
	
	<update id="motelUpdateInfo" parameterType="com.goodHere.domain.place.Place">
		update
			place_mst
		set
			place_name = #{place_name},
			place_address = #{place_name},
			benefit_detail = #{benefit_detail},
			event_msg = #{event_msg}
		where
			place_id = #{place_id};
	</update>
	
</mapper>