<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.goodHere.domain.place.PlaceRepository">

	<sql id="auto_increment">
		select
			ifnull(max(place_id), 0) + 1
		from
			place_mst;
	</sql>

	<insert id="motelInsert" parameterType="com.goodHere.domain.place.Place">
		<selectKey keyProperty="place_id" resultType="Integer" order="BEFORE">
			<include refid="auto_increment"></include>
		</selectKey>

	insert into
		place_mst
	values(
		#{place_id},
		#{place_address},
		#{benefit_detail},
		#{event_msg},
		now(),
		now()
	);
	
	insert into
		place_img_mst
	values
	<foreach collection="place_img" item="img" separator=",">
	(
		0,
		#{place_id},
		#{img}
	);
	</foreach>

	insert into
		place_dtl
	values
	<foreach collection="place_dtl" item="dtl" separator=",">
	(
		0,
		#{place_id},
		#{dtl.room_condition_img},
		#{dtl.room_title},
		#{dtl.time_room},
		#{dtl.time_price},
		#{dtl.dead_line},
		#{dtl.availability_time},
		#{dtl.select_time_flag},
		#{dtl.day_room},
		#{dtl.day_price},
		#{dtl.check_in_time},
		#{dtl.check_out_time},
		#{dtl.select_day_flag}
	);
	</foreach>
	</insert>
	
</mapper>